<% content_for(:head) do %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.6/jquery.fullpage.css" integrity="sha256-bwgO9MoPVvotukQtJ5uNfYOP7mNouND7Cbhd+MJvZX0=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.6/jquery.fullpage.js" integrity="sha256-jwgjxc4j6/dE2aVSFNmEYv4W7+PEL4VChy404By79Is=" crossorigin="anonymous"></script>
<% browser_title = t(:browser_title_tag) %>
<title><%= browser_title %></title>
<meta property="og:title" content="<%= t :browser_title_tag %>" />
<meta property="og:description" content="<%= t :main_sharing_description %>" />
<meta property="og:image" content="<%= ENV['APP_URL'] %>assets/coverphoto.png" />
<script>
  $(document).ready(function() {
    $('#fullpage').fullpage({
      slidesNavigation: false,
      anchors:['what', 'become', 'steps', 'when', 'how', 'faq'],
      fixedElements: '#header',
      responsiveWidth: 600,
      responsiveHeight: 900,
      verticalCentered: false,
      scrollOverflow: true,
    });
  });
</script>
<% end %>

<% bg_image1_path = image_path("takvningen.jpg") %>
<% bg_image2_path = image_path("embryo-lasers.jpg") %>
<% bg_image3_path = image_path("bubble-x-balloon.jpg") %>
<% bg_image4_path = image_path("sortie.jpg") %>
<% bg_image5_path = image_path("treval.jpg") %>
<% bg_image6_path = image_path("gogh.jpg") %>

<div id="fullpage" style="z-index: 9;">
  <div class="section fp-auto-height-responsive" style="background-image: url('<%= bg_image1_path %>'); background-repeat: no-repeat; background-size: cover;">
    <div class="about-content">
        <div class="section1" data-anchor="what">
          <h1>1000m² blank canvas for 2047</h1>

          <p>This is an open call to artists, makers and scientists, and amateurs of all backgrounds: we need you to become part of this artistic swarm intelligence. Take us to futuristic scenarios we wouldn't have imagined, or show exciting implications of technologies not yet invented.</p>

          <p>You can weld, build, paint, program, play music or create a robotic architecture. Maybe you are a great storyteller, videographer, performer or workshop host. Or maybe you just want to help others build by making sandwiches and serving tea. Every effort counts in the swarm.</p>
        </div>
    </div>
  </div>
  <div class="section fp-auto-height-responsive" style="background-image: url('<%= bg_image2_path %>'); background-repeat: no-repeat; background-size: cover;">
    <div class="about-content">
      <div class="row">
        <div class="section2" data-anchor="become">
          <h1>This is important!</h1>

          <p>Technology is fundamentally changing who we are, and the speed of change is accelerating exponentially. Will technology bring the solutions to all our problems, or be our worst nightmare? You can choose to wait and see. Or, you can take advantage of the opportunity to co-create the future YOU want.</p>

          <p>Taking power over your future starts with the ability to envision it. Drone Dancing invites you to imagine a better future through co-creating this exhibition.</p>

          <p>If you could fundamentally change humankind, what would you begin with?</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section fp-auto-height-responsive" style="background-image: url('<%= bg_image3_path %>'); background-repeat: no-repeat; background-size: cover;"">
    <div class="about-content">
      <div class="row">
        <div class="section3" data-anchor="steps">
          <h1>Join the swarm</h1>
          <ul>
            <li><p>• Sign-up and register your project profile</p></li>
            <li><p>• Join our <a href="https://www.facebook.com/groups/406280706488574/?source_id=404184976674004" target="_blank">Facebook group</a> and follow the <a href="https://www.facebook.com/dronedancing/">Facebook Page</a></p></li>
            <li><p>• Come to one of the info meetings</p></li>
            <li><p>• Cooperate: find new members, improve, merge or join another Vision</p></li>
            <li><p>• Invite others to vote for your Vision</p></li>
            <li><p>• Receive funding confirmation </p></li>
            <li><p>• Co-create your Vision</p></li>
            <li><p>• Exhibit at Färgfabriken in September 2018</p></li>
            <li><p>• (Become selected for international tour in 2019)</p></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="section fp-auto-height-responsive" style="background-image: url('<%= bg_image4_path %>'); background-repeat: no-repeat; background-size: cover;"">
    <div class="about-content">
      <div class="row">
        <div class="section2" data-anchor="when">
          <h1>Timeline</h1>
            <ul>
              <li><p>• 04/06: <a href="https://www.facebook.com/events/1932740700371727/" target="_blank">Intro workshop</a></p></li>
              <li><p>• 11/06: <a href="https://www.facebook.com/events/2108136729458451/" target="_blank">Vision development workshop</a></p></li>
              <li><p>• 13/06: Vision Submission deadline (adjustments possible until granting opens)</p></li>
              <li><p>• 19/06: Granting of visions opens</p></li>
              <li><p>• 26/06: Granting closes</p></li>
              <li><p>• 28/06: Final Granting results published</p></li>
              <li><p>• 31/05-31/08: Co-creation of visions</p></li>
              <li><p>• 27/08: Build up begins at venue, open studio</p></li>
              <li><p>• 31/08: Vernissage </p></li>
              <li><p>• 06/09: Finissage</p></li>
            </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="section fp-auto-height-responsive" style="background-image: url('<%= bg_image5_path %>'); background-repeat: no-repeat; background-size: cover;"">
    <div class="about-content">
      <div class="row">
        <div class="section1" data-anchor="how">
          <h1>How to Get Funding</h1>

          <p>The swarm, i.e. all Drone Visions participants, decides who gets funding, and how much. Everyone who has registered as co-creator in the online community receives five virtual coins, which they can distribute to fund their favorite projects.</p>

          <p>Each coin is worth a certain amount in SEK, determined when the budget has been set (granting deadline). You can only give one coin to each project. To become a co-creator, simply go to a vision description and click “add me to the swarm”.</p>

          <p>More funding info in FAQ.</p>

        </div>
      </div>
    </div>
  </div>

  <div class="section fp-auto-height-responsive" style="background-image: url('<%= bg_image6_path %>'); background-repeat: no-repeat; background-size: cover;"">
    <div class="about-content">
      <div class="row">
        <div class="section2" data-anchor="faq">
          <h1>Contact</h1>
          <p>Contact us through the swarm’s closed <a href="https://www.facebook.com/groups/406280706488574/?source_id=404184976674004" target="_blank">Facebook Group</a> or the open <a href="https://www.facebook.com/dronedancing/" target="_blank">Facebook Page</a>, or contact project facilitator Anna:</p>
          <p>visions@dronedancing.vision</p>
          <p>+4560747629</p>
          <p></p>
        </div>
      </div>
    </div>
  </div>

</div>